@charset "UTF-8";


/* VARIABLES */

:root {
  /* Color settings */
  --color-background: rgba(255, 255, 255, 1);
  --color-line: rgb(186, 255, 167);
  --color-text: rgb(10, 29, 6);
  --color-text-link: rgba(65, 185, 35, 1);
  --color-text-link-hover: rgba(65, 185, 35, 0.4);
  /* Font settings */
  --font-family: 'Times New Roman', 'Helvetica', 'Arial', sans-serif;
  /* Margins settings */
  --margin: 2.5rem;
}



/* GENERAL STYLES */

body {
  background-size: 40px 40px;
  background-image: radial-gradient(circle, #41B923 1px, rgba(0, 255, 0, 0) 1px);
}

a {
  text-decoration: none;
}

h1 {
  margin: 10px;
  padding: 15px;
}

h2 {}

/*
div:first-of-type, p:first-of-type {
  height: 240px;
}

div:not(:first-of-type), p:not(:first-of-type) {
  border-top: 1px solid var(--color-text);
}
*/
h3 {
  /* h3 style */
}

h4,
h5,
h6 {
  /* h4-h5-h6 style */
}


ol,
ul {
  list-style: none;
  margin: 20px;
  padding: 30px;
  font-size: 14px;
  line-height: 26px;
}

main p {
  cursor: default;
}

main p b {
  font-weight: normal;
  font-style: normal;
  transition: all 0.5s cubic-bezier(0, 1.24, 1, 1);
  display: inline-block;
  transform-origin: center 75%;
  z-index: 1;
  position: relative;
}

main p b.grow {
  filter: url("#filter");
  transform: scale(4);
  z-index: 0;
}

/* PAGE STYLES */

/* page structure */


div.page-wrapper {
  /* the element that 'wraps' everything */
  padding-left: var(--margin);
  padding-top: 80px;
}

.section-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

/* navigation */

header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding-right: 24px;
  padding-bottom: 300px;
}

header .page-title {
  font-family: 'Times New Roman';
  font-style: italic;
  font-weight: 400;
  font-size: 220px;
  line-height: 180px;
  letter-spacing: -0.03em;
  text-align: right;
}

header h1 {
  font-family: 'Times New Roman';
  font-style: italic;
  font-weight: 400;
  font-size: 200px;
  line-height: 160px;
  letter-spacing: -0.04em;
  text-align: right;
}


.scroll-to-top {
    color: var(--color-text-link);
    background: none;
    border: none;
    font-size: 14px;
    line-height: 12px;
    position: fixed;
    bottom: 20px;
    left: 14px;
}

#scroll-to-top {
  display: none;
}

.scroll-to-top:before {
    content:url('../images/arrow.svg');
    position: absolute;
    top: -50px;
}

/* content */

.left-column {
  max-width: 280px;
  width: 100%;
  position: relative;
}

.right-column {
  width: 100%;
  display: inline-grid;
  grid-template-columns: repeat(12, 1fr);
  border: 1px solid var(--color-line);
  grid-gap: 1px;
  background-color: var(--color-line);
}

.content {
  border-top: 1px solid var(--color-line);
}

.content .references {
  position: absolute;
  top: 300px;
  right: 20px;
}

ul.references {
  display: flex;
  flex-wrap: wrap;
}

ul.references li {
  width: 25%;
  max-width: 25%;
}

.content .right-column {
  border-top: none;
}

.nav .right-column {
  border-bottom: none;
}

.right-column>.item {
  aspect-ratio: 1 / 1;
  background-color: var(--color-background);
}

.nav .right-column>.item {
  position: relative;
}

.content .right-column {
  position: relative;
}

.text {
  position: absolute;
  left: 0;
  top: 0;
  text-align: left;
  z-index: 10;
}

.nav .text {
  width: 8rem;
}

.nav,
.nav h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
  color: #24c629;
}


.content,
.content h2,
.content p {
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  margin: 0;
  padding: 0;
}

.references a {
  font-size: 10px;
  line-height: 13px;
  text-transform: uppercase;
  color: #24c629;
  display: block;
  padding-bottom: 24px;
  padding-right: 24px;
}

.footnote a {
  color: #24c629;
  text-decoration: underline;
}

.content h2 {
  text-transform: uppercase;
}

.content .download {
  font-family: 'Times New Roman';
  font-size: italic;
  color: #24c629;
  font-style: italic;
}

.references-wrapper {
  display: flex;
  flex-direction: row;
}

.references-details {
  padding-top: 80px;
  padding-bottom: 130px;
}


/* GENERAL USABILITY */

/* hide desktop mobile etc */

.desktop {
  display: block;
}

.mobile {
  display: none;
}

/* if you want to hide something visually but want to keep it readable / accessible for screen readers (sr) */

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}






/* MEDIA QUERIES */

/* responsive typeface */

@media (max-width: 298px) {
  :root {
    --font-size: 15px;
  }

  html,
  body {
    font: var(--font-size) var(--font-family);
  }
}

@media (min-width: 299px) and (max-width: 339px) {
  :root {
    --font-size: 16px;
  }

  html,
  body {
    font: var(--font-size) var(--font-family);
  }
}

@media (min-width: 340px) and (max-width: 439px) {
  :root {
    --font-size: 17px;
  }

  html,
  body {
    font: var(--font-size) var(--font-family);
  }
}

@media (min-width: 440px) and (max-width: 599px) {
  :root {
    --font-size: 18px;
  }

  html,
  body {
    font: var(--font-size) var(--font-family);
  }
}

@media (min-width: 600px) and (max-width: 779px) {
  :root {
    --font-size: 19px;
  }

  html,
  body {
    font: var(--font-size) var(--font-family);
  }
}

@media (min-width: 780px) and (max-width: 992px) {
  :root {
    --font-size: 24px;
  }

  html,
  body {
    font: var(--font-size) var(--font-family);
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  :root {
    --font-size: 22px;
  }

  html,
  body {
    font: var(--font-size) var(--font-family);
  }
}

@media (min-width: 1201px) and (max-width: 1319px) {
  :root {
    --font-size: 24px;
  }

  html,
  body {
    font: var(--font-size) var(--font-family);
  }
}

@media (min-width: 1320px) and (max-width: 1619px) {
  :root {
    --font-size: 26px;
  }

  html,
  body {
    font: var(--font-size) var(--font-family);
  }
}

@media (min-width: 1620px) and (max-width: 1879px) {
  :root {
    --font-size: 28px;
  }

  html,
  body {
    font: var(--font-size) var(--font-family);
  }
}

@media (min-width: 1880px) {
  :root {
    --font-size: 30px;
  }

  html,
  body {
    font: var(--font-size) var(--font-family);
  }
}



/* website media queries */
@media (max-width: 1620px) {
  .right-column {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 993px) {
  .right-column {
    grid-template-columns: repeat(4, 1fr);
  }

  .left-column {
    max-width: 82px;
  }

  .content p {
    font-size: 20px;
    line-height: 26px;
  }

  .content h2 {
    font-size: 12px;
    line-height: 15px;
  }

  .scroll-to-top {
      left: 10px;
  }
}

@media (max-width: 779px) {

  /* styles for screen sizes 779px, should covers 'mobile' and 'tablet' */
  /* style this one first and then use the two others to 'override' some styles (exceptions/details) */
  /* utilities */

  .desktop {
    display: none !important;
  }

  .mobile {
    display: block;
  }

  header {
    flex-direction: column;
    padding-bottom: 150px;
  }

  header h1 {
    font-size: 120px;
    line-height: 100px;
  }

  .scroll-to-top {
      left: 7px;
  }

  ul.references {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  ul {
      margin: 0;
      padding: 0;
  }

  ul.references li {
    width: 100%;
    max-width: 100%;
  }


}

@media (max-width: 440px) {
  .right-column {
    grid-template-columns: repeat(2, 1fr);
  }

  header h1 {
    font-size: 60px;
    line-height: 70px;
  }

  .scroll-to-top {
      left: 2px;
  }
}

@media (max-width: 339px) {}



@media (max-width: 779px) and (orientation: landscape) {

  /* use this query to apply style changes for 'mobile' screen sizes that are flipped in 'landscape' mode */

}



@media (min-width: 780px) and (max-width: 992px) {

  /* use this query to apply style for 'small' desktop screens */

}
